

<form  action="/Usuario/add" method="post">
<legend class="title2" ><strong> Nuevo usuario </strong></legend>
<div class="m-5">
			
					<div class="row">
				<div class="col">


		<label class="titleUsuario">Nombre</label>
		<input type="text" name="nombre" class="form-control" placeholder="Introduce tu nombre de usuario">
			</div>
			
		<div class="col">
		<label class="titleUsuario">Apellidos</label>
		<input type="text" name="apellidos" class="form-control" placeholder="Introduce tu apellido">
		</div>
		
		<div class="col">

<label class="titleUsuario">Edad</label>
		<input type="text" name="edad"class="form-control" placeholder="Introduce tu edad" >
		</div>
		</div>
		</div>
		<div class="m-5">
		<div class="row">
				<div class="col">
			
		<label class="titleUsuario">Email</label>
		<input type="email" name="email" class="form-control" placeholder="Introduce tu email">
	</div>
	<div class="col">
<label class="titleUsuario">Contraseña</label>
		<input type="password" name="contrasena" class="form-control" placeholder="Introduce tu contraseña">
		</div>
		
			<div class="col">
<label class="titleUsuario">Pais</label>
		<input type="text"  name="pais" class="form-control"  placeholder="Introduce tu pais">
		</div>
		</div>
		</div>
		<div class="m-5">
		<div class="row">
				<div class="col">	
<label class="titleUsuario">Localidad</label>
		<input type="texte"  name="localidad" class="form-control" placeholder="Introduce tu localidad">
		
		</div>
	
		<div class="col">	
		
		<label class="titleUsuario">Nickname</label>
		<input type="text" name="nickname" class="form-control" placeholder="Introduce tu nickname">
		</div>
		<div class="col">	
		
		<label class="titleUsuario">Sexo</label>
		<input type="text" name="sexo" class="form-control" placeholder="Introduce tu sexo">
		</div>
		</div>
		</div>
		<div class="m-5">
		<div class="row">
				<div class="col">	
		<label class="titleUsuario">Nº de tarjeta</label>
		<input type="text" name="ntarjeta" class="form-control" placeholder="Introduce tu numero de tarjeta">
				</div>
				<div class="col">	
		<label class="titleUsuario">CVV</label>
		<input type="text" name="cvv" class="form-control" placeholder="Introduce tu numero cvv de tarjeta">
				</div>
				<div class="col">	
		<label class="titleUsuario">Fecha de caducidad</label>
		<input type="text" name="fechacad" class="form-control" placeholder="Introduce la fecha de caducidad de la tarjeta">
				</div>
				</div>
				</div>
		
		</div>
		<br><br>
		<div class="title2">
<button class="btn btn-primary" >Crear usuario</button>
	
		</div>

</form>
