<form action="/Superheroe/add" method="post">

    <legend class="title2"><strong>Nuevo superheroe</strong></legend>
    <div class="m-5">

      <div class="row">
        <div class="col">
          <label class="titleSuperheroe">Nombre</label>
          <input type="text" name="alias" class="form-control" placeholder="Introduce el nombre del superheroe"/>
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Id</label>
          <input type="text" name="id" class="form-control" placeholder="Introduce el id del superheroe"/>
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Is</label>
          <input type="text" name="is" class="form-control" placeholder="Introduce el nombre real del superheroe" />
        </div>
      </div>
    </div>
    <div class="m-5">

      <div class="row">
        <div class="col">

          <label  class="titleSuperheroe">Origen</label>
          <input type="text" name="origen" class="form-control" placeholder="Introduce el origen del superheroe" />
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Afiliacion</label>
          <input type="text" name="afilicacion" class="form-control" placeholder="Introduce la afiliciacion del superheroe"/>

        </div>

        <div class="col">
          <label  class="titleSuperheroe">Inteligencia</label>
          <input type="text" name="inteligencia" class="form-control" placeholder="Introduce el nivel de inteligencia del superheroe" />
        </div>
      </div>
    </div>
    <div class="m-5">

      <div class="row">
        <div class="col">
          <label  class="titleSuperheroe">Fuerza</label>
          <input type="text" name="fuerza" class="form-control" placeholder="Introduce la fuerza del superheroe" />
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Velocidad</label>
          <input type="text" name="velocidad" class="form-control" placeholder="Introduce la velocidad del superheroe"/>
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Resistencia</label>
          <input type="text" name="resistencia" class="form-control" placeholder="Introduce la resistencia del superheroe"/>
        </div>
      </div>
    </div>
    <div class="m-5">

      <div class="row">
        <div class="col">

          <label  class="titleSuperheroe">Proyeccion de energia</label>
          <input type="text" name="proyeccionDeEnergia" class="form-control" placeholder="Introduce la proyeccion de energia del superheroe" />

        </div>
        <div class="col">
          <label  class="titleSuperheroe">Habilidad de lucha</label>
          <input type="text" name="habilidadLucha" class="form-control" placeholder="Introduce la habilidad de lucha del superheroe" />
        </div>
        <div class="col">
          <label  class="titleSuperheroe">Raza</label>
          <input type="text" name="raza" class="form-control" placeholder="Introduce la raza del superheroe" />
        </div>
      </div>
	</div>
    </div>
	
    <br /><br />
	<div class="title2">
    <button class="btn btn-primary">Crear superheroe</button>
	</div>
</form>