
<h1 class="centrar">PARTIDAS</h1>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4 ">

  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE PARTIDAS JUGADAS
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200"  
       src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=9c6bf6fe-9478-4f86-ab2c-78a781b7f202&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
     <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=9c6bf6fe-9478-4f86-ab2c-78a781b7f202&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    RANKING
  </div>
  <div class="card-body" style="width: 18rem;">
    <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200"  
       src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=4397eb75-82a9-4b83-8bb8-1e3773994c11&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
     <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=4397eb75-82a9-4b83-8bb8-1e3773994c11&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  
</div>





<div>
<h1 class="centrar">SUPERHEROES</h1>
</div>
<br><br>
<div class="row row-cols-2 row-cols-md-5 g-4 ">

  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE SUPERHEROES
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe 
      style="background:  rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=bbd4aef8-693b-4791-9539-81ae8b0ecb9e&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=bbd4aef8-693b-4791-9539-81ae8b0ecb9e&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    HABILIDAD DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
     src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ef83a333-f2f7-4bae-9210-0d0df27366d3&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ef83a333-f2f7-4bae-9210-0d0df27366d3&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    FUERZA DE SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=0eb9fd4a-e5e1-4e93-b7c5-0d264de4d612&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=0eb9fd4a-e5e1-4e93-b7c5-0d264de4d612&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    RESISTENCIA DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style=" border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=326a936a-1fda-481a-93da-7112c622178a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=326a936a-1fda-481a-93da-7112c622178a&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
 
   <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    VELOCIDAD DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=3c64a63a-9a34-4c4f-a8a3-2e824b530d86&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=3c64a63a-9a34-4c4f-a8a3-2e824b530d86&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
   <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    PROYECCION DE ENERGIA DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200"
       src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=45828987-e207-42ae-8fd8-c92f2ea6d37a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=45828987-e207-42ae-8fd8-c92f2ea6d37a&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
   <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    ORIGEN DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
     src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=b7bf7baf-878e-4a9b-9787-dc8d3ee96a06&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=b7bf7baf-878e-4a9b-9787-dc8d3ee96a06&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
   <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    AFILIACION DE CADA SUPERHEROE
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ffd22939-f79c-46e0-a700-3bf4a9e599b8&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ffd22939-f79c-46e0-a700-3bf4a9e599b8&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
    <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE AFILIACIONES
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=3c22c988-e7c2-42b6-9f18-7bae186afc18&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=3c22c988-e7c2-42b6-9f18-7bae186afc18&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
    <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE ORIGEN
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="300" height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=c53b3deb-1fd3-4e2f-ac25-cdfa9ca5ce28&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=c53b3deb-1fd3-4e2f-ac25-cdfa9ca5ce28&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  </div>
  <br><br>
<div>
<h1 class="centrar">ESCENARIOS</h1>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4 ">

  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    MONEDAS DE CADA ESCENARIO
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=a98bf5fd-32f6-4877-a6c1-599009e8c15d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=a98bf5fd-32f6-4877-a6c1-599009e8c15d&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    COMPARACION DE ESCENARIOS
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
     src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=90cd1e38-f3ef-4cbb-906a-a788bf3c4f4e&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=90cd1e38-f3ef-4cbb-906a-a788bf3c4f4e&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE SUPERHEROES DE ESCENARIO
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
       src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=1825c2cd-8b27-4aac-b1a0-783d3d41deaf&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
       <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=1825c2cd-8b27-4aac-b1a0-783d3d41deaf&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    ENERGIA VITAL DE CADA ESCENARIO
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=dabd99eb-1bbf-4106-a56d-3022f8b78e4a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe> 
      <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=dabd99eb-1bbf-4106-a56d-3022f8b78e4a&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
 
   <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE MOVIMIENTOS DE ESCENARIOS
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
     src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ed2bec11-deec-4cdb-869e-90be0c0a59da&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ed2bec11-deec-4cdb-869e-90be0c0a59da&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>

  </div>
  <div>
    <br><br>
<h1 class="centrar">USUARIOS</h1>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4 ">

  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    NUMERO DE USUARIOS
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background:  rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200"  
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=6fd6c38e-1279-49bf-9c1b-89c245ef3c4d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=6fd6c38e-1279-49bf-9c1b-89c245ef3c4d&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    UBICACION DE LOS USUARIOS
  </div>
  <div class="card-body" style="width: 18rem;">
     <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200" 
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=fcf0f1ef-ceeb-472f-aaf8-b87166f8d26a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
      <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=fcf0f1ef-ceeb-472f-aaf8-b87166f8d26a&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card h-100 " style=" background-color: rgba(255, 0, 0, 0)" >
  <div class="card-header; title" >
    SEXO DE LOS USUARIOS
  </div>
  <div class="card-body" style="width: 18rem;">
      <iframe style="background: rgba(70, 76, 79, .2); border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" 
      width="300" 
      height="200"  
      src="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ecefc93b-48a5-49e9-8959-d797675fa68a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
       <a href="https://charts.mongodb.com/charts-project-0-paofq/embed/charts?id=ecefc93b-48a5-49e9-8959-d797675fa68a&maxDataAge=3600&theme=light&autoRefresh=true" target="_blanck" class="btn btn-primary">Ver en pantalla completa</a>
  </div>
  </div>
  </div>
  

  </div>
  
  
  
